In [1]:
#library
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('src/db/supermarket_sales.csv')

In [4]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [21]:
df['Gender'].value_counts()

Gender
Female    501
Male      499
Name: count, dtype: int64

In [22]:
df['Product line'].value_counts()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

In [29]:
list(df['Unit price'].describe().index)

['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [30]:
d = {}
for i in df['Product line'].unique():
    d[i] = list(df[df['Product line'] == i]['Unit price'].describe())
teste = pd.DataFrame(d,index=list(df['Unit price'].describe().index))

In [41]:
grouped_stats = df.groupby('Product line')['Unit price'].describe()

In [42]:
grouped_stats

,count,mean,std,min,25%,50%,75%,max
Product line,,,,,,,,
Electronic accessories,170.0,53.551588,26.748102,10.56,27.9825,51.505,75.9025,99.73
Fashion accessories,178.0,57.153652,26.666294,10.18,35.5200,55.090,81.1025,99.89
Food and beverages,174.0,56.008851,26.270242,10.13,33.4675,53.995,78.7375,99.79
Health and beauty,152.0,54.854474,26.353058,10.08,32.4250,57.405,76.1350,99.96
Home and lifestyle,160.0,55.316937,26.206963,10.53,34.3125,55.590,77.5225,99.92
Sports and travel,166.0,56.993253,26.905015,10.17,34.4175,58.650,80.6800,99.96

In [31]:
teste

,Health and beauty,Electronic accessories,Home and lifestyle,Sports and travel,Food and beverages,Fashion accessories
count,152.000000,170.000000,160.000000,166.000000,174.000000,178.000000
mean,54.854474,53.551588,55.316937,56.993253,56.008851,57.153652
std,26.353058,26.748102,26.206963,26.905015,26.270242,26.666294
min,10.080000,10.560000,10.530000,10.170000,10.130000,10.180000
25%,32.425000,27.982500,34.312500,34.417500,33.467500,35.520000
50%,57.405000,51.505000,55.590000,58.650000,53.995000,55.090000
75%,76.135000,75.902500,77.522500,80.680000,78.737500,81.102500
max,99.960000,99.730000,99.920000,99.960000,99.790000,99.890000